@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
  --main-bg-color: #2d180f;
}
.App {
  background-color: var(--main-bg-color);
  height: 100%;
  box-sizing: border-box;
}


@keyframes fontbulger {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}

.fontBulger {
  animation: fontbulger 2s infinite;
}

